@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: sans-serif;
}

.article-intro {
  margin-bottom: 10rem;
}

.index {
  display: flex;
  flex-direction: row;
  margin: -1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  a {
    all: unset;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin: -1rem;
    padding-bottom: 1.5rem;

    &__align {
      display: flex;

      img {
        margin-top: 3.7rem;
        margin-left: -1.5rem;
        width: 1.875rem;
        height: 1.875rem;
      }

      #types {
        margin-left: 15rem;
      }
    }
  }

  &__content:hover {
    transition: 0.2s;
    color: gray;
  }

  &__content2 {
    display: block;
    margin: -1rem;
    padding-bottom: 1.5rem;

    &__align {
      display: flex;

      img {
        margin-top: 3.7rem;
        margin-left: -1.5rem;
        width: 1.875rem;
        height: 1.875rem;
      }
    }

    &__top {
      display: flex;
    }

    &__bottom {
      display: flex;
    }
  }

  &__content2:hover {
    transition: 0.2s;
    color: gray;
  }
}
