@import "./_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: sans-serif;
}

.logo {
  padding: 1rem 2rem 0 2rem;
  z-index: 1;
}

.intro {
  background-color: red;

  &-row1 {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 11.6rem;
    background-color: green;
    &-alta {
      padding-right: 8.5rem;
    }
    &-e {
      padding-right: 22rem;
    }
  }

  &-row2 {
    display: flex;
    position: absolute;
  }
}

.intro-text {
  font-family: "HelveticaNowText-Regular";
  font-size: 5rem;
  color: black;
}
