@import "./_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: sans-serif;
}
.logo {
  display: block;
  margin-left: 2rem;
  margin-top: 2rem;
  z-index: 1000;
}
.hero {
  display: flex;
  flex-direction: row;
  margin: -1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &-intro {
    display: flex;
    flex-direction: row;
    margin: -1rem;
    padding-bottom: 1.5rem;
  }

  .menu {
    display: flex;
  }
}
